@using ExpenseTrackingApplication.Data.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ExpenseTrackingApplication.ViewModels.NotificationCreateViewModel

<h2>Create Notification for @Model.Email</h2>

<form asp-action="CreateSingleNotification" method="post">
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Topic"></label>
        <input asp-for="Topic" class="form-control" />
        <span asp-validation-for="Topic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(NotificationType)))
            {
            <option value="@type">@type</option>
            }
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Notification</button>
</form>
