@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<body>
<div class="hero p-4">
    <div class="hero-content d-flex align-items-center">
        <div class="text-container border-box">
            <h1 class="display-4">Take Charge of Your Finances Today</h1>
            <p class="lead">Boost your financial awareness and start saving smarter with Expense Tracker. Join now and take control of your budget today!</p>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-lg get-start-btn">Get Started</a>
        </div>
        <div class="image-container ml-4">
            <img src="https://res.cloudinary.com/ggeztrw22/image/upload/v1728080863/images/getstartnow.jpg" alt="Get Started" class="rounded img-fluid">
        </div>
    </div>
</div>

<div class="features">
    <div class="features-background">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature-box">
                        <i class="fas fa-chart-line fa-3x"></i>
                        <h3>Track Expenses</h3>
                        <p>Keep an eye on your spending and stay within your budget.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature-box">
                        <i class="fas fa-wallet fa-3x"></i>
                        <h3>Manage Budgets</h3>
                        <p>Create and manage your personal and family budgets.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature-box">
                        <i class="fas fa-mobile-alt fa-3x"></i>
                        <h3>Generate Reports</h3>
                        <p>Review and manage detailed reports of your budgets and expenses at any time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="user-success-story success-bg">
    <div class="hero-content d-flex align-items-center">
        <div class="image-container mr-4">
            <img src="https://res.cloudinary.com/ggeztrw22/image/upload/v1728083637/images/they_planned.jpg" alt="They Planned" class="rounded img-fluid">
        </div>
        <div class="text-container border-box">
            <h2>They Planned, They Succeeded!</h2>
            <p>Our users have already taken the first step towards financial freedom by signing up and creating their budgets. Now, it's your turn to join them and achieve your financial goals!</p>
            <a asp-area="" asp-controller="Budget" asp-action="AddNewBudget" class="btn join-them-btn">Join Them Now</a>
        </div>
    </div>
</div>

</body>