@model ExpenseTrackingApplication.ViewModels.EditBudgetViewModel

@{
    ViewData["Title"] = "Edit Budget";
}

<h2>Edit Budget</h2>

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Balance" class="control-label">Amount</label>
        <input asp-for="Balance" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>