/* General styles */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left, #ff8b68, #a2f7fd); /* Gradient background */
  color: #333;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* Transparent header with light green background */
header {
  background-color: rgba(78, 220, 255, 0.75);
  font-weight: bold; /* Bold font */
  position: sticky;
  top: 0; /* Stick to the top */
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}

main {

}

footer {
  background-color: rgb(52, 137, 202);
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-top: 20px;
  z-index: 999;
}

footer.footer {
  color: #ffffff !important;  /* White text color */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.balance.positive {
  color: green;
}
.balance.negative {
  color: red;
}


/*Layout style*/
.rounded-circle {
  border-radius: 50%;
}

/* Style for dropdown menu */
.dropdown-menu {
  background-color: #f8f9fa; /* Light menu background */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Subtle shadow for depth */
}

/* Style for menu items */
.dropdown-item {
  padding: 0.5rem 1rem; /* Adding space around text */
  transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
  border-bottom: 1px solid #c3c3c3; /* Light border between items */
}

/* Remove last item line */
/*.dropdown-menu .dropdown-item:last-of-type {*/
/*  border-bottom: none;*/
/*}*/

/* Change background color when hovering over a link */
.dropdown-item:hover {
  background-color: #1b6ec2; /* Hover Background Color */
  color: white; /* Text in white for better readability */
}

/* Change color for active menu item */
.dropdown-item.active {
  background-color: #0056b3; /* Darker blue for active element */
  color: white;
  border-bottom: none;
}

/* Style for the arrow next to the dropdown list */
.dropdown-toggle::after {
  margin-left: 0.3em;
  transition: transform 0.3s ease-in-out;
}

/* Rotating arrow animation when menu is expanded */
.nav-item.dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg);
}

/* Text and background color when hovering over entire navigation link */
.nav-item.dropdown .nav-link:hover {
  background-color: #1b6ec2;
  color: white;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-weight: bold;
  color: #007bff;
}

.navbar-brand:hover {
  color: #0056b3;
}

/* --------- */
