/* General styles */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf7a2;
  color: #333;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* Transparent header with light green background */
header {
  background-color: rgba(0, 182, 0, 0.5); /* Light green with 50% opacity */
  font-weight: bold; /* Bold font */
  position: sticky;
  top: 0; /* Stick to the top */
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}

main {

}

footer {
  background-color: rgba(0, 182, 0, 0.5); /* Light green with 50% opacity */
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-top: 20px;
  z-index: 999;
}

.footer-margin {
   /* Adjust the value as needed */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.balance.positive {
  color: green;
}
.balance.negative {
  color: red;
}


/*Layout style*/
.rounded-circle {
  border-radius: 50%;
}

.dropdown-menu {
  background-color: #f8f9fa; /* bright background */
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
}

/* after hovering */
.dropdown-item:hover {
  background-color: #1b6ec2;
  color: white;
}

/* Expanding menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* make the menu run smoothly on larger screens without any interruptions */
.nav-item.dropdown:hover .dropdown-toggle {
  color: #007bff;
}

/* Style for the dropdown arrow */
.dropdown-toggle::after {
  transition: transform 0.3s ease-in-out;
  /*content: "\25BC"; !* Unicode for down arrow *!*/
  margin-left: 0.3em;
}

/* Rotate arrow when dropdown is open */
.nav-item.dropdown:hover .dropdown-toggle::after {
  transform: rotate(180deg);
}

/* --------- */
