/* General styles */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left, #ff8b68, #a2f7fd); /* Gradient background */
  color: #333;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* Transparent header with light green background */
header {
  background-color: rgba(78, 220, 255, 0.75);
  font-weight: bold; /* Bold font */
  position: sticky;
  top: 0; /* Stick to the top */
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}

main {

}

footer {
  background-color: rgb(134, 191, 232);
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 35px; /* Reduced line-height */
  margin-top: 20px;
  z-index: 999;
}

footer.footer {
  color: #ffffff !important; /* White text color */
}

footer .social-media-icons {
  margin-bottom: 10px; /* Reduce the space below the icons */
}

footer .container p {
  margin-bottom: 5px; /* Less space between "OUR MEDIAS" and the icons */
}

.footer-title {
  letter-spacing: 1px; /* Add letter spacing */
}

.social-media-icons a {
  text-decoration: none; /* Remove underline from links */
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.balance.positive {
  color: green;
}
.balance.negative {
  color: red;
}

/* --------- */
