@using ExpenseTrackingApplication.Data.Enum
@model ExpenseTrackingApplication.ViewModels.IncomeEditViewModel

@{
    ViewData["Title"] = "Edit Income";
}

<h2>Edit Income</h2>

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Source" class="control-label">Source</label>
        <input asp-for="Source" class="form-control"/>
        <span asp-validation-for="Source" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Amount</label>
        <input asp-for="Amount" class="form-control" type="number"/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Date</label>
        <input asp-for="Date" class="form-control" type="date"/>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Income Category</label>
        <select asp-for="Category" asp-items="@Html.GetEnumSelectList<IncomeCategory>()" class="form-control">
            <option selected="selected" value="">Select Category</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-controller="Budget" asp-action="Details" asp-route-id="@Model.BudgetId" class="btn btn-secondary">Back to Budget Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}