/*Layout style*/

.rounded-circle {
  border-radius: 50%;
}

.dropdown-menu {
  background-color: #f8f9fa; /* bright background */
}

/* after hovering */
.dropdown-item:hover {
  background-color: #1b6ec2;
  color: white;
}

/* Expanding menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* make the menu run smoothly on larger screens without any interruptions */
.nav-item.dropdown:hover .dropdown-toggle {
  color: #007bff;
}
