@model ExpenseTrackingApplication.Models.BudgetCategory

@{
    ViewData["Title"] = "Create Budget Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="BudgetId" value="@ViewBag.BudgetId" />
    
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="Type" class="form-control">
            <option value="">Select Category Type</option>
            @foreach (var type in Enum.GetValues(typeof(ExpenseTrackingApplication.Data.Enum.BudgetCategoryType)))
            {
                <option value="@type">@type</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Limit" class="control-label"></label>
        <input asp-for="Limit" class="form-control"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-controller="Budget" asp-action="Index" class="btn btn-secondary">Back</a>
</div>
