@using ExpenseTrackingApplication.Data.Enum
@model ExpenseTrackingApplication.Models.BudgetCategory

@{
ViewData["Title"] = "Edit Budget Category";
}

<h1>@ViewData["Title"]</h1>

<h4>Edit budget category</h4>
<hr />

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(BudgetCategoryType)))
            {
                @* <option value="@type" @(Model.Type == (BudgetCategoryType)type ? "selected" : "")>@type</option> *@
            }
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Limit" class="control-label"></label>
        <input asp-for="Limit" class="form-control" />
        <span asp-validation-for="Limit" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="BudgetId" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
