@model ExpenseTrackingApplication.ViewModels.UserViewModels.EmailConfirmViewModel

@{
ViewData["Title"] = "Confirm Email";
}

<h1>Confirm Email</h1>

@if (Model.EmailConfirmed)
{
<p>Your email has been confirmed.</p>
}
else
{
<p>There was an error confirming your email.</p>
}
