@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ExpenseTrackingApplication.ViewModels.UserViewModels.PasswordForgotViewModel

@{
ViewData["Title"] = "Forgot Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
