@model ExpenseTrackingApplication.ViewModels.UserViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<h1 class="text-center log-txt">Login</h1>
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
        <h4 class="text-center log-txt">Log into your account!</h4>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-5">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                    <div class="form-group text-center">
                        <a class="btn btn-link" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>